<div class = "container">
    <h1>Stupid Coaching</h1>
    <h2>Ask your coach anything:</h2>

  <form action="/answer" data-turbo="false">
    <%# <input type="text" name="answer">
    <input type="submit" value="Ask!"> %>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <button class="btn btn-primary" id="basic-addon2" type="submit" value="Ask!">Ask!</button>
    </div>
  </form>
</div>
